{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>
    <div class="chat-container">
        <div class="user-list">
            <h2>Добро пожаловать, {{user}}!</h2>
            <ul>
                {% for user in users %}
                    <li><a data-user="{{ user.id }}" onclick="fetchMessages('{{request.user.id}}_{{user.id}}', this.innerText, this.dataset.user)">{{ user.username }}</a></li>
                {% endfor %}
                <li><form id="logout-form" method="POST" action="{% url 'logout-user' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                </li>
            </ul>
        </div>

        <!-- Контейнер для сообщений -->
        <div class="message-container">
            <!-- Заголовок чата (будет скрыт до выбора чата) -->
            <div class="chat-header hidden" id="chat-header">
                <div class="profile">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture">
                    <span class="receiver">{{receiver}}</span>
                </div>
            </div>

            <!-- Сообщение для выбора чата -->
            <div class="chat-log" id="id_chat_item_container">
                <div id="select-chat-message" class="select-chat-message">
                    <h2>Выберите чат для начала общения</h2>
                    <p>Пожалуйста, выберите одного из пользователей слева для начала общения.</p>
                </div>
            </div>

            <!-- Поле ввода сообщения (будет скрыто до выбора чата) -->
            <div class="chat-input hidden" id="chat-input">
                <input type="text" id="id_message_send_input" placeholder="Type a message..." />
                <button type="submit" id="id_message_send_button" onclick="sendMessage(this)">Send</button>
            </div>

            <div id="context-menu"></div>
        </div>
    </div>
</body>

<script>
    window.user = {id: "{{ request.user.id }}",  username: "{{ request.user.username }}",};
</script>
<script src="{% static 'js/index.js'%}"></script>

</html>
