<!-- private_chat.html -->
<div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
    <br />
    {{room_name}}
    {% for message in messages %}
      <div>{{ message.username }}: {{ message.message }}</div>
    {% endfor %}
    <br />
    <input type="text" id="id_message_send_input" />
    <button type="submit" id="id_message_send_button">Send Message</button>
    <br />
    <br />
</div>

<script>
  const roomName = "{{room_name}}"; // Подставьте сюда имя комнаты
  const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/private_chat/" + roomName + "/");
  chatSocket.onopen = function (e) {
    console.log("The connection was setup successfully !");
  };
  chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
  };
  document.querySelector("#id_message_send_input").focus();
  document.querySelector("#id_message_send_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
      document.querySelector("#id_message_send_button").click();
    }
  };
  document.querySelector("#id_message_send_button").onclick = function (e) {
    var messageInput = document.querySelector("#id_message_send_input").value;
    chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
  };
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var div = document.createElement("div");
    if ("{{request.user.username}}" == data.username) {
      div.innerHTML = data.message;
      div.setAttribute('style', 'margin-right:0 ; margin-left: auto;');
    } else {
      div.innerHTML = data.username + " : " + data.message;
      div.setAttribute('style', 'margin-right:auto ; margin-left: 0;');
    }
    document.querySelector("#id_message_send_input").value = "";
    document.querySelector("#id_chat_item_container").appendChild(div);
  };
</script>
